/.docker
!/.docker/php/docker-php-ext-xdebug.ini
/.github
/art
/tests
/vendor
.docker-compose.yml
.dockerignore
.editorconfig
.gitattributes
.gitignore
composer.lock
LICENSE
phpstan.neon
phpunit.xml
pint.json
README.md
rector.php
